#taskbar a.button-notes span.button-inner {
    background: url(../images/note_both.png) no-repeat;
    background-position: 0 0;
    display: inline-block;
}

#taskbar a.button-notes:hover span.button-inner,
#taskbar a.button-notes.button-selected span.button-inner {
    background-position: 0 -24px;
}

#ddnotes_toolbar {
    position: absolute;
    top: -6px;
    left: 0;
    height: 40px;
    white-space: nowrap;
    z-index: 10;
}

#ddnotes_searchbox {
    position: absolute;
    top: 2px;
    right: 2px;
}

#ddnotes_searchbox input {
    width: 176px;
    margin: 0;
    padding: 3px 30px 3px 34px;
    height: 18px;
    background: #f1f1f1;
    border-color: #ababab;
    font-weight: bold;
    font-size: 11px;
}

#ddnotes_searchbox a.reset {
    position: absolute;
    top: 4px;
    right: 1px;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin: 0 2px;
    padding: 3px 5px;
    color: #525252;
    text-decoration: none;
}

#ddnotes_searchbox a.searchicon {
    position: absolute;
    top: 5px;
    left: 6px;
    width: 24px;
}

#ddnotes_search_form {
    width: 240px;
}

#ddnotes_sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 215px;
}

#ddnotes_notes_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    outline: 0;
}

#ddnotes_sidebar_splitter {
    left: 219px;
    top: 0px;
}


/* sidebar <ul> list of notes*/

#ddnotes_list li.ddnotes_list_element {
    display: flex;
    align-items: stretch;
    height: 50px;
}

#ddnotes_list li.ddnotes_list_element a {
    display: flex;
    align-items: stretch;
    align-self: stretch;
    justify-content: stretch;
    height: 100%;
    width: 100%;
}

#ddnotes_list .ddnotes_list_element_icon {
    display: flex;
    min-width: 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#ddnotes_list .ddnotes_list_element_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    width: 100%;
}

#ddnotes_list .ddnotes_list_element_title {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    align-self: stretch;
    justify-content: stretch;
    font-size: larger;
    line-height: 20px;
}

#ddnotes_list .ddnotes_list_element_footer {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

#ddnotes_list .ddnotes_list_element_ts {
    font-weight: normal;
    font-style: italic;
}

#ddnotes_list .ddnotes_list_element_size {
    font-weight: normal;
    font-style: italic;
}

#ddnotes_content {
    position: absolute;
    top: 0;
    left: 229px;
    right: 0;
    bottom: 0;
}

#ddnotes_content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    align-self: stretch;
    justify-content: stretch;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    background-color: #fff;
}

#ddnotes_content_wrapper .scroller {
    padding: 15px;
    font-size: 12px;
}

#ddnotes_content_wrapper .ddnotes_note_headers {
    display: flex;
    align-items: stretch;
    background: rgb(249, 249, 249);
    border-bottom: 1px solid rgb(223, 223, 223);
    height: auto;
    min-height: 70px;
    padding: 5px 15px;
}

#ddnotes_content_wrapper .ddnotes_note_headers_icon {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: flex-start;
    width: 55px;
}

#ddnotes_content_wrapper .ddnotes_note_headers_info {
    display: flex;
    align-items: stretch;
    align-self: stretch;
    flex-direction: column;
    justify-content: space-around;
    justify-content: space-evenly;
    width: 100%;
}

#ddnotes_content_wrapper .ddnotes_note_headers_actions {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: flex-end;
    min-width: 120px;
    gap: 12px;
}

#ddnotes_content_wrapper .ddnotes_note_headers_actions a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 18px;
}

#ddnotes_content_wrapper .ddnotes_note_image {
    text-align: left;
}

#ddnotes_content_wrapper .ddnotes_note_file {
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: center;
}

#ddnotes_content_wrapper .ddnotes_note_file span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ddnotes_content_wrapper .ddnotes_watermark_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#ddnotes_content_wrapper .ddnotes_watermark_wrapper img {
    width: 100%;
    max-width: 280px;
}

#ddnotes_content_wrapper .ddnotes_editor_textarea_wrapper {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    justify-content: stretch;
    flex-direction: column;
}

#ddnotes_content_wrapper .ddnotes_note_text img,
#ddnotes_content_wrapper .ddnotes_note_image img {
    max-width: 100%;
    max-height: 100%;
}

#ddnotes_content_wrapper pre.ddnotes_note_text_pre {
    font: inherit;
    white-space: pre-wrap;
}

#ddnotes_content_wrapper pre.ddnotes_note_text_pre pre {
    /* css-3 */
    white-space: pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -moz-pre-wrap;
    /* Opera 4-6 */
    white-space: -pre-wrap;
    /* Opera 7 */
    white-space: -o-pre-wrap;
    /* Internet Explorer 5.5+ */
    word-wrap: break-word;
}

#ddnotes_content_wrapper div.scroller div {
    font: inherit;
    white-space: pre-wrap;
}

textarea.ddnotes_editor_textarea {
    resize: none;
    border: none;
    border-radius: 0px;
    width: auto;
    height: 100%;
}

div.TinyMDE {
    height: 100%;
}

div.TinyMDE>div:last-child {
    padding-bottom: 15px;
}

div.TMCommandBar {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

div.TMCommandButton {
    background-color: transparent;
}

div.TMCommandButton_Active,
div.TMCommandButton_Active:hover {
    font-weight: 700;
    color: #fff;
    background-color: #555c66;
    fill: #fff;
}